.pa-app {
	background-color: #f5f5f5;
	header {
		width: 100%;
		height: 56px;
		background-color: $c-blue-dark;
		// box-shadow: 0 1px 1px
		// 	unquote('rgb(0 0 0 / 1%), 0 10px 30px rgb(0 0 0 / 8%)');
		z-index: 1000000;
		padding: 0 32px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.logo {
			height: 48px;
		}

		.user-info {
			margin-right: 16px;
			.greeting {
				color: #fff;
				font-size: 14px;
				font-weight: 700;
				max-width: 220px;
				text-overflow: ellipsis;
			}

			.user-logout {
				margin-left: 16px;
				font-size: 20px;
				color: #fff;
				font-weight: 700;
			}
		}
	}
	&-main {
		width: 100%;
		height: calc(100vh - 56px);
	}
}

.pa-stats-app {
	position: relative;
	height: 100%;

	.stats-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 20px;

		.title {
			font-size: 18px;
			font-weight: 700;
			color: $c-blue-text;
		}

		&-title-top {
			display: inline-flex;
			align-items: center;
			font-size: 14px;
			color: $c-text-primary;
			margin-bottom: 16px;

			.title-top-icon {
				margin-right: 16px;
			}
		}

		&-user-api {
			// margin-top: auto;
			width: 100%;
			height: 200px;
			border-radius: 7px;
			color: $c-text-primary;

			.alert-id-btn {
				margin: 0 auto;
				background: #fff;
				background-image: linear-gradient(-180deg, #fff 0, #efefef);
				border-radius: 3px;
				border: 1px solid #d7dbdb;
				box-shadow: inset 0 -1px 0 0 #d7dbdb;
				color: #464c4f;
				display: inline-block;
				font-size: 14px;
				font-weight: 400;
				height: 32px;
				line-height: 30px;
				padding: 0 12px;
				transition: all 120ms ease;
				text-decoration: none;
				font-weight: 700;
				cursor: pointer;

				&:hover {
					color: #303434;
					text-decoration: none;
					border-color: #babdbe;
					background: #fff;
					background-image: linear-gradient(-180deg, #fff 0, #e1e3e3);
					box-shadow: unquote(
						'inset 0 -1px 0 0 #babdbe, 0 1px 4px 0 rgb(0 0 0 / 10%)'
					);
					outline: 0;
				}
			}

			.user-api-warn {
				padding: 12px 16px;
				font-size: 15px;
				font-weight: 500;
				background-color: $c-red-light;
				color: $c-red-dark-2;
				border-radius: 4px;
				border: 1px solid $c-red-dark-2;
				margin-top: 16px;

				p {
					margin: 0;
					margin-left: 12px;
				}
			}
		}

		&-today {
			.today-widget {
				height: 72px;
				padding: 0 8px;
				border-radius: 4px;
				background-color: $c-red-dark;
				color: #fff;
				display: inline-flex;
				align-items: center;

				svg {
					width: 48px;
					height: 48px;
					fill: #fff;
				}

				.num {
					font-size: 32px;
					font-weight: 700;
					margin-left: 10px;
				}
			}

			.today-text {
				margin: 16px 0;
				font-weight: 700;
				font-size: 18px;
				color: $c-grey-400;
			}

			.today-widget-single {
				padding: 16px;
				width: 100%;
				border-top-right-radius: 12px;
				border-bottom-right-radius: 12px;
				border-left: 5px solid $c-orange;
				background-color: $c-red-extra-light;
				color: $c-orange;
				display: inline-flex;
				align-items: center;
				margin-bottom: 10px;

				&.auto {
					border-color: $c-green-dark;
					background-color: $c-green-light;
					color: $c-green-dark;
				}
			}
		}
	}

	&::before {
		background: linear-gradient(to right, transparent, #aaa);
		content: '';
		height: 100%;
		opacity: 0.2;
		pointer-events: none;
		position: absolute;
		right: 0;
		width: 8px;
		z-index: 2;
	}
}

.pa-nav {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;

	.nav-links {
		padding-top: 1rem;
		height: 100%;
		display: flex;
		flex-direction: column;
		margin: 0;

		li {
			padding: 5px 0;
			position: relative;
			width: 100%;
			margin: 6px 0;

			&:last-child {
				margin-top: auto;
			}

			.nav-link {
				display: flex;
				width: 100%;
				flex-direction: column;
				align-items: center;
				position: relative;

				&.active {
					&::before {
						background: $c-blue-dark;
						content: '';
						height: 100%;
						left: 4px;
						position: absolute;
						top: 0px;
						width: 2px;
					}

					.icon {
						svg {
							fill: $c-blue-dark;
						}
					}

					span {
						color: $c-blue-dark;
					}
				}

				.icon {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					padding: 4px 0;

					svg {
						width: 22px;
						height: 22px;
						fill: $c-grey-400;
					}
				}

				span {
					font-size: 10px;
					color: $c-grey-400;
				}
			}

			&:hover {
				background-color: #fff;
				cursor: pointer;

				.nav-link {
					.icon {
						svg {
							fill: $c-blue-dark;
						}
					}

					span {
						color: $c-blue-dark;
					}
				}
			}
		}
	}

	&::before {
		background: linear-gradient(to right, transparent, #aaa);
		content: '';
		height: 100%;
		opacity: 0.2;
		pointer-events: none;
		position: absolute;
		right: 0;
		width: 8px;
		z-index: 2;
	}
}

.pa-alerts-app {
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: #f5f5f5;
	height: 100%;
	max-height: calc(100vh - 56px);

	.alerts-header {
		height: 60px;
		padding: 0 12px 1px 20px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.title {
			.title-icon {
				width: 32px;
				height: 32px;
				border-radius: 3px;
				background-color: $c-red-dark;
				display: inline-flex;
				align-items: center;
				justify-content: center;

				svg {
					width: 24px;
					height: 24px;
					fill: #fff;
				}
			}

			h3 {
				margin: 0;
				margin-left: 1rem;
				font-size: 18px;
				font-weight: 700;
			}
		}

		.options {
			margin-right: 32px;
			.info {
				font-size: 16px;
				color: $c-grey-400;
				cursor: pointer;
				&:hover {
					color: $c-blue-dark;
				}
			}

			.online {
				padding: 2px 6px;
				background-color: $c-grey-100;
				border-radius: 3px;
				font-size: 12px;
				margin: 0 10px;
				color: $c-grey-400;

				.dot {
					margin-right: 5px;
					height: 6px;
					width: 6px;
					border-radius: 50%;
					background-color: $c-light-green;
				}
			}

			.refresh {
				display: inline-block;
				align-items: center;
				font-size: 13px;
				font-weight: 700;
				color: $c-black-light;
				border: 1px solid #d1d1d1;
				border-radius: 4px;
				background-color: #fff;
				padding: 5px 9px;

				&-icon {
					font-size: 15px;
					color: $c-black-light;
					margin-right: 6px;
				}
				&:hover {
					background-color: #f5f5f5;
					cursor: pointer;
				}
			}
		}

		&::before {
			background: $c-grey-100;
			bottom: 0;
			box-shadow: none;
			height: 1px;
			left: 0;
			right: 0;
			position: absolute;
			z-index: 1;
			content: '';
			pointer-events: none;
		}
	}

	.alerts-body {
		max-height: 100%;
		flex: 1;
		position: relative;
		display: block !important;
		overflow-x: hidden;
		transform: translate3d(0, 0, 0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		will-change: scroll-position;
		overflow-x: hidden;
		overflow-y: auto;

		&-wrapper {
			max-width: 1080px;
			position: relative;
			// height: 1000px;
			height: 100%;
			margin: auto;
			padding: 2rem 0;
		}

		.alerts-empty {
			.alerts-empty-body {
				margin: 0 auto;
				max-width: 55%;
			}
		}
	}

	.alerts-footer {
		position: relative;

		&-wrapper {
			max-width: 1080px;
			margin: 0 auto;
			position: relative;

			&::before {
				left: 32px;
				right: 32px;
				pointer-events: none;
				content: '';
				height: 0.2rem;
				margin: 0 auto;
				position: absolute;
				z-index: 1;
				box-shadow: 0 0.1rem 0 0 unquote('rgb(37 36 35 / 5%)');
				background: rgba(37, 36, 35, 0.02);
			}
		}

		&-content {
			width: 100%;
			padding: 20px 33px;
			display: flex;
			align-items: center;

			.btn {
				width: 170px;
				height: 32px !important;
				font-size: 12px;
				margin-left: 32px;
			}
		}
	}

	.alerts-aggregator {
		.date-seperator {
			height: 25px;
			// margin-top: -0.8px;
			margin: 16px 0;
			position: relative;
			text-align: center;
			white-space: nowrap;

			.date-seperator-text {
				background: #f5f5f5;
				color: $c-text-primary;
				font-weight: 500;
				font-size: 12px;
				white-space: nowrap;
				display: inline-block;
				padding: 0.5px 22px;
				position: relative;
			}

			&::before {
				border-top: 1px solid $c-grey-100;
				content: '';
				display: block;
				position: relative;
				top: 14px;
			}
		}

		.single-alert-wrapper {
			max-width: 1080px;
			padding: 0 32px;
			background: #f5f5f5;
			display: flex;
			align-items: flex-start;
			margin-top: 6px;
			margin-bottom: 10px;

			.single-alert-icon {
				width: 42px;
				margin-right: 16px;
				padding-top: 16px;

				.icon {
					width: 42px;
					height: 42px;
					border-radius: 50px;
					background-color: $c-red-extra-light;
					display: inline-flex;
					align-items: center;
					justify-content: center;

					svg {
						width: 26px;
						height: 26px;
						fill: $c-orange-fast;
					}

					&.auto {
						background-color: $c-red-light;

						svg {
							fill: $c-red-dark-2;
						}
					}
				}
			}

			.single-alert-content {
				background-color: #fff;
				border: 1px solid $c-grey-200;
				padding: 11px 0 0;
				border-radius: 3px;
				position: relative;
				width: 100%;
				box-shadow: unquote('0 2px 4px -0.75px rgb(0 0 0 / 10%)');

				.single-alert-name {
					font-size: 12px;
					font-weight: 600;
					color: $c-text-primary;
				}

				.single-alert-time {
					margin-left: 10px;
					font-size: 12px;
					color: $c-text-primary;
					font-weight: 300;
				}

				.single-alert-type {
					font-size: 14px;
					color: $c-text-primary;
				}

				.single-alert-event {
					background-color: $c-red-extra-light;
					color: $c-orange;
					padding: 10px 16px;
					display: flex;
					align-items: center;

					.event-icon {
						width: 32px;
						height: 32px;
						fill: $c-orange-fast;

						svg {
							width: 32px;
							height: 32px;
						}
					}

					.event-content {
						color: $c-orange;
						margin-left: 1rem;
						font-weight: 500;

						.event-content-title {
							font-size: 14px;
						}
						.event-content-info {
							font-size: 12px;
						}
					}

					.event-detail {
						margin-left: auto;
						font-size: 22px;
						font-weight: 700;

						&:hover {
							cursor: pointer;
						}
					}

					&.auto {
						background-color: $c-red-light;
						color: $c-red-dark-2;

						.event-icon {
							fill: $c-red-dark-2;
						}

						.event-content {
							color: $c-red-dark-2;
						}
					}
				}

				.single-alert-footer {
					display: flex;
					background-color: #fff;
					padding-top: 0.5rem;
					padding-bottom: 1rem;
					width: 100%;
					font-size: 12px;
					color: $c-text-primary;
					justify-content: space-between;
					align-items: center;

					a {
						color: $c-text-primary !important;
						&:hover {
							text-decoration: underline;
							text-decoration-color: $c-text-primary;
						}
					}

					svg {
						width: 16px;
						height: 16px;
						fill: $c-text-primary;
					}
				}
			}
		}
	}
}

// Popovers
.info-help {
	max-width: 300px;
	font-size: 13px;
	color: $c-black-light;
}

.alert-occurances {
	list-style: none;
	li {
		font-size: 14px;
		color: $c-text-primary;
	}
}
