$font-primary: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$root-font-size: 16px;

// Colors
$c-text-primary: #42494f;
$c-dark-green: #116149;
$c-light-green: #13aa52;
$c-gray-light: #b3bbc1;
