$font-primary: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$root-font-size: 16px;

// Colors
$c-text-primary: #424242;
$c-dark-green: #116149;
$c-light-green: #13aa52;
$c-gray-light: #b3bbc1;
$c-black-light: #242424;

$c-blue-dark: #081d53;
$c-blue-text: #001847;
$c-red-dark: #ef4537;
$c-red-extra-light: #fdeeea;
$c-orange: #ee7956;
$c-orange-fast: #ee734f;
$c-grey-100: #ebebeb;
$c-grey-200: #edebe9;
$c-grey-400: #616161;
